---
layout: default
title: Homepage
---

<div id="home">
  <ul class="posts">
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://ipals-dev.digitalmarketing365.com" itemprop="url">
        <div class="p-wrap">
          <time class='active' datetime="2015-01-17T16:57:51+00:00"
              itemprop="datePublished">
            Active
          </time>
          <p itemprop="name headline">Ipals 14</p>
        </div>
      </a>
    </li>
    Hello world
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="https://github.com/djfrsn/gulp-studio" itemprop="url">
        <div class="p-wrap">
          <time class='active' datetime="2014-09-11T16:57:51+00:00"
              itemprop="datePublished">
            Active
          </time>
          <p itemprop="name headline">Studi˚</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://dennisjefferson.com/ahk/" itemprop="url">
        <div class="p-wrap">
          <time datetime="2015-01-05T16:57:51+00:00"
              itemprop="datePublished">
            28 Sep 2014
          </time>
          <p itemprop="name headline">Achieve Health Kids - 1201px & up</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://fresh.dennisjefferson.com/" itemprop="url">
        <div class="p-wrap">
          <time datetime="2015-01-05T16:57:51+00:00"
              itemprop="datePublished">
            28 Sep 2014
          </time>
          <p itemprop="name headline">Fresh - A CRUD WP Site</p>
        </div>
      </a>
    </li>

    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="https://github.com/djfrsn/tuu" itemprop="url">
        <div class="p-wrap">
          <time datetime="2014-09-11T16:57:51+00:00"
              itemprop="datePublished">
            11 Sep 2014
          </time>
          <p itemprop="name headline">tuu - an angular app</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://dennisjefferson/tag" itemprop="url">
        <div class="p-wrap">
          <time datetime="2014-09-20T16:57:51+00:00"
              itemprop="datePublished">
            20 Sep 2014
          </time>
          <p itemprop="name headline">blank-wp-theme</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://dennisjefferson.com/lootmob/project/" itemprop="url">
        <div class="p-wrap">
          <time datetime="2014-08-15T16:57:51+00:00"
              itemprop="datePublished">
            15 Aug 2014
          </time>
          <p itemprop="name headline">Loot Mob Clothing Website</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://dennisjefferson/tag" itemprop="url">
        <div class="p-wrap">
          <time datetime="2014-06-21T16:57:51+00:00"
              itemprop="datePublished">
            21 Jul 2014
          </time>
          <p itemprop="name headline">The Art Guide - 840px & up</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://dennisjefferson.com/workflow/" itemprop="url">
        <div class="p-wrap">
          <time datetime="2015-06-18T16:57:51+00:00"
              itemprop="datePublished">
            18 Jun 2014
          </time>
          <p itemprop="name headline">A Modern Web Development Workflow</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="https://github.com/djfrsn/generator-yeoman-studio" itemprop="url">
        <div class="p-wrap">
          <time datetime="2015-06-17T16:57:51+00:00"
              itemprop="datePublished">
            17 Jun 2014
          </time>
          <p itemprop="name headline">generator-yeoman-studio</p>
        </div>
      </a>
    </li>
    
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a target='_blank' href="http://landinwest.com/archive/truth/" itemprop="url">
        <div class="p-wrap">
          <time datetime="2015-01-03T16:57:51+00:00"
              itemprop="datePublished">
            03 Apr 2013
          </time>
          <p itemprop="name headline">Landinwest.com</p>
        </div>
      </a>
    </li>
    
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
  <a href="/page/{{paginator.next_page}}" class="older">Older</a>
  {% else %}
  <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="/" class="newer">Newer</a>
    {% else %}
    <a href="/page/{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
  <span class="previous">Newer</span>
  {% endif %}
</div>
{% endif %}
